<div class="popupTitle">User authentication</div>
<div class="popupContent">
	<form method="POST">
		<label for="username">Username</label><br />
		<input type="text" name="username" id="username" /><br />
		<label for="password">Password</label><br />
		<input type="password" name="password" id="password" /><br />

		<input type="checkbox" id="rememberMe" /><label for="rememberMe">Password</label><br />
		<br />
		<div id="loginHelper">
			<a href="forgotPassword">Forgot your password ?</a><br />
      <a href="forgotPassword">Create a new account</a>
		</div>
		<div id="loginSubmit"><a href=""><img src="" alt="submit" title="submit" /></a></div>
	</form>
</div>